<launch>
    <arg name="model" default="$(find shunk_gripper_description)/urdf/a0509.urdf"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

    <!-- Start robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Start joint state publisher GUI -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <!-- Launch RViz with saved configuration -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find shunk_gripper_description)/rviz/display.rviz" />
</launch>
